## Hierarchical Indexing
Hierarchical indexing is an important feature of pandas. It makes it possible to have multiple (two or more) index levels on an axis. Somewhat abstractly, it provides a way to work with higher dimensional data in a lower dimensional form. <br>

Letâ€™s start with a simple example for **Series**:

In [1]:
import numpy as np
import pandas as pd
# Create a Series with a list of lists (or arrays) as the index:
index = [['a','a','a','b','b','b','c','c','d','d'], # level 1 index
         [1,2,3,1,2,3,1,2,1,2]]                     # level 2 index
index

[['a', 'a', 'a', 'b', 'b', 'b', 'c', 'c', 'd', 'd'],
 [1, 2, 3, 1, 2, 3, 1, 2, 1, 2]]

In [3]:
np.random.randn(10)

array([ 0.18524827,  0.87655731,  0.83797758,  1.25951601, -0.1263709 ,
        0.01791741,  0.56374444,  0.00543623,  0.55604607, -2.26847993])

In [5]:
ser = pd.Series(np.random.randn(10),index = index)
ser

a  1   -0.859875
   2   -0.755145
   3    1.224553
b  1   -0.493836
   2   -0.047111
   3   -0.639398
c  1    2.057454
   2    0.797474
d  1    1.458134
   2    2.199760
dtype: float64

With a hierarchically indexed object, so-called partial indexing is possible, which enables the concise selection of the subsets of the data.

In [7]:
# Data retrieval  
ser['a']

1   -0.859875
2   -0.755145
3    1.224553
dtype: float64

In [9]:
# single value
ser['a'][2]

-0.7551452062431927

** Example with DataFrame:**<br>
With a DataFrame, either axis can have a hierarchical index.<br>

In [11]:
np.arange(12).reshape((4, 3))

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [13]:
df = pd.DataFrame(np.arange(12).reshape((4, 3)),
                  index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]], 
                  columns=['AB', 'ON', 'BC'])

In [15]:
df

     AB  ON  BC
a 1   0   1   2
  2   3   4   5
b 1   6   7   8
  2   9  10  11

How to index the above dataframe!<br>
* on the columns axis, just use normal bracket notation `df[]`. 
* on row axis, we use `df.loc[]` 

Calling one level of the index returns the sub-dataframe.

In [17]:
df['AB']

a  1    0
   2    3
b  1    6
   2    9
Name: AB, dtype: int32

In [19]:
df.loc['a']

   AB  ON  BC
1   0   1   2
2   3   4   5

We want to **grab a single value**, idea is to **go from outside to inside**, e.g. we want to grab "11"

In [21]:
df

     AB  ON  BC
a 1   0   1   2
  2   3   4   5
b 1   6   7   8
  2   9  10  11

In [23]:
#df.loc['b']
#df.loc['b'].loc[2]
df.loc['b'].loc[2]['BC']

11

The hierarchical levels can have names (as strings or any Python objects). If so, these will show up in the console output:

In [25]:
df.index.names

FrozenList([None, None])

Let's give names to the index "L_1, L_2"

In [27]:
df.index.names = ['L_1', 'L_2']

In [29]:
df

         AB  ON  BC
L_1 L_2
a   1     0   1   2
    2     3   4   5
b   1     6   7   8
    2     9  10  11

# Excellent! 
Lets do a quick revision and move on to our next topic!<br> 
I want to congratulate here, you are making a great progress, keep it up!